.playlist-modal {
  min-width: 200px;
  padding: 1rem;
}

.playlist-modal ul {
  list-style: none;
}
.playlist-modal li {
  margin-top: 0.3rem;
}
.playlist-modal .hr-line {
  margin-top: 0.3rem;
}
.playlist-modal label {
  margin-left: 0.3rem;
}
.playlist-modal label,
.playlist-modal input {
  cursor: pointer;
}

.playlist-modal input {
  background: transparent;
  padding: 0.5rem;
  color: inherit;
}
.btn-create-playlist {
  margin-top: 0.5rem;
}
.playlist-modal button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
}
.playlist-modal li {
  display: flex;
  align-items: center;
}
.btn-modal-dismiss {
  cursor: pointer;
}

.create-new-playlist-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3rem;
  margin-top: 0.3rem;
}

.create-new-playlist-actions input {
  border: none;
  border-bottom: 1px solid var(--std-font-color);
  outline: none;
}
