.video-card {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
}

.video-card__image img {
  width: 100%;
  aspect-ratio: 16/9;
}
.video-card__views {
  display: flex;
  gap: 0.5rem;
}

.video-card__details {
  padding: 0.3rem;
}
.btn-right-top {
  position: absolute;
  margin: 0.5rem;
  top: 0;
  right: 0;

  background: var(--off-white-color);
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn-delete {
  color: var(--red-color);
}

.btn-watch-later {
  color: var(--primary-color);
}

.video-card .title {
  text-overflow: ellipsis;
}
