.main-history {
  max-width: 65rem;
  margin: auto;
  padding: 1rem;
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 450px) {
  .videos-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
