.main-history {
  max-width: 65rem;
  margin: auto;
  padding: 1rem;
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.empty-history-msg {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.empty-history-msg p {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
  .videos-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
