.main-liked-videos {
  max-width: 65rem;
  margin: auto;
  padding: 1rem;
}



.empty-liked-videos-msg {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.empty-liked-videos-msg p {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
