.main-profile-page {
  padding: 2rem 5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.profile-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
